<nav class="navbar bg-light navbar-light">
    <ul class="navbar navbar-nav">
      <li>
        <button (click)="getAllProducts()" class="btn btn-sm btn-outline-info ml-2">All</button>
        <button (click)="getSelectedProducts()" class="btn btn-sm btn-outline-info m-2">Selected</button>
        <button (click)="getAvailableProducts()" class="btn btn-sm btn-outline-info ml-2">Available</button>
        <button (click)="addProduct()" class="btn btn-sm btn-outline-info ms-2 ml-2"><span class="fa fa-plus"></span></button>
      </li>
    </ul>
    <ul class="navbar navbar-nav ml-auto">
      <li>
        <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
          <div class="form-group">
            <input ngModel type="text" name="keyword"/>
            <button class="btn btn-sm ms-2 mb-1 btn-outline-info">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </form>
      </li>
    </ul>
</nav>
